*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 35px;
    background-color: #d3daea;
}
.main{
    background-color: #fbfcfe;
    margin: 20px;
    padding: 25px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(165, 152, 152), -5px -5px 15px rgb(165, 152, 152) ;
}
.img {
    display: none;
}
h2 {
    color: #3b325f;
}
br{
    display: none;
}
hr {
    display: inline-block;
    margin: 3px;
    width: 20px;
    border:1px solid #f84d56;
}
.form{
    text-align: center;
}
.hr-p{
    font-weight: bold;
    margin-top: 10px;
    color: #f84d56;
}
.btn{
    margin-top: 15px;
}
button {
    padding: 5px;
    margin: 5px 30px;
    width: 80%;
    font-size: 10px;
    background-color: #fab9bc;
    border: 2px solid #3b325f;
    border-radius: 5px;
    color: #3b325f;
}
img.google {
    position: absolute;
    top: 137px;
    left: 95px;
}
img.facebook {
    position: absolute;
    top: 172px;
    left: 96px;
}
input.name {
    background-color: #fab9bc;
    border: 2px solid #3b325f;
    border-radius: 5px;
    margin: 0 30px;
    width: 80%;
}
h6 {
    text-align: start;
    padding: 8px 10px;
    color: #3b325f;
}
h6.div-name {
    margin-top: 15px;
}
label {
    color: #3b325f;
}
.name{
    text-align: left;
}
button.arrow {
    width: 35px;
    height: 40px;
    margin: 15px 5px 5px 5px;
    background-color: #f84d56;
    border: 1px solid #3b325f;
    border-radius: 5px;
}
.h6-p {
    font-size: 7px;
    padding: 13px 5px;
    color: #3b325f;
}
.check {
    display: flex;
}
input[type="checkbox"] {
    margin: 10px 0 0 10px;
}
p.last {
    margin-top: 10px;
    font-size: 7px;
    color: #3b325f;
}
a{
    color: #f84d56;
}
img.img-arrow {
    width: 15px;
}
button.arrow:hover{
    background-color: white;
    color: #f84d56;
    border: 1px solid #f84d56;
}

@media screen and (min-width:640px) {
    .main {
        background-image: url(./image11.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: center right;
        margin: 25px;
        padding: 20px;
        border-radius: 25px;
    }
    br{
        display: unset;
    }
    img.google {
    position: absolute;
    top: 176px;
    left: 67px;
    }
    img.facebook {
    position: absolute;
    top: 174px;
    left: 242px;
}
    h2 {
        padding: 10px;
        margin-bottom: 0;
    }
    .hr-p {
        padding: 10px;
    }
    button {
        background-color: #fab9bc;
        color: #3b325f;
        margin: 5px 10px 0;
        width: 28%;
        height: 30px;
        border: 2px solid #3b325f;
        border-radius: 7px;
    }
    .form {
        text-align: unset;
        margin: 20px 10px 0;
    }
    .div {
        display: inline-block;
        margin: 0 20px 0 0;
    }
    h6 {
        padding: unset;
        font-weight: 500
    }
    input.name {
        background-color: #fab9bc;
        color: #3b325f;
        margin: 5px 0;
        width: 100%;
        height: 30px;
        border: 2px solid #3b325f;
        border-radius: 7px;
        text-indent: 15px;
    }
    .h6-p {
        font-size: 9px;
        padding: 10px;
        width: 295px;
    }
    button.arrow {
        width: 40px;
        height: 40px;
        margin: 10px 10px 0;
        border-radius: 7px;
    }
    p.last {
        margin: 18px 10px 30px;
        font-size: 9px;
    }
    a {
        color: #f84d56;
    }
}

@media screen and (min-width: 768px)  {
    button{
        width: 25%;
        margin: 5px 22px 0 10px;
    }
    img.google {
        top: 175px;
        left: 74px;
    }
    img.facebook {
        top: 175px;
        left: 275px;
    }
    input.name{
        width: 171px;
    }
    .div {
        margin: 0 30px 0 0;
    }
    h6 {
        margin-top: 10px;
    }
    button.arrow {
        width: 50px;
        height: 55px;
    }
}

@media screen and (min-width:924px) {
    .main {
        margin: 46px;
        padding: 30px;
    }
    .hr-p {
        font-size: 13px;
    }
    img.google {
        top: 192px;
        left: 115px;
    }
    img.facebook {
        top: 192px;
        left: 365px;
    }
    h6{
        font-size: 12px;
    }
    input.name{
        width: 218px;
    }
    .div {
        margin: 0 30px 0 0;
    }
    button {
    margin: 5px 20px 0 10px;
}
    button.arrow {
        width: 55px;
        height: 60px;
    }
    .h6-p {
        font-size: 9.5px;
        width: 300px;
    }
    p.last {
        font-size: 9.5px;
    }


}


@media screen and (min-width:1440px) {
    .main {
        background-size: 50%;
        margin: 70px;
        padding: 70px;
    }
    h2 {
        font-size: 35px;
    }
    .hr-p {
        font-size: 15px;
        margin: 20px 0 0;
    }
    button {
        font-size: 15px;
        width: 275px;
        text-align: center;
        height: 40px;
    }
    img.facebook {
        top: 285px;
        left: 485px;
    }
    img.google {
        top: 285px;
        left: 180px;
    }
    input.name {
        width: 276px;
        height: 40px;
        margin: 15px 0 0;
    }
    input[type="checkbox"] {
        margin: 20px 0 0 10px;
    }
    h6 {
        font-size: 15px;
    }
    .h6-p {
        padding: 15px;
        font-size: 13px;
        width: 388px;
    }
    button.arrow {
        width: 55px;
        height: 60px;
    }
    p.last {
        margin: 45px 10px 0px;
        font-size: 13px;
    }
    img.img-arrow {
        width: 25px;
    }
}

@media screen and (min-width:2560px) {
    .main{
        background-size: 38%;
    }
}